@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
.container {
  background: linear-gradient(144deg, #190422 21.1%, #190422 102.96%);
  padding: 17px 21px 110px 82px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 19px 40px 30px 41px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 19px 16px 25px 26px;
  }
}
.container .navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.container .navbar .logo h1 {
  letter-spacing: -3px;
}
@media screen and (max-width: 1024px) {
  .container .navbar .logo h1 {
    font-size: 40.24px;
  }
}
.container .navbar .logo h1 span {
  color: #FFF;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .navbar .logo h1 span:nth-child(2) {
  color: #BC8AFC;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .navbar ul {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .container .navbar ul {
    display: none;
  }
}
.container .navbar ul li {
  margin-left: 30px;
}
.container .navbar ul li a {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .navbar button {
  width: 132px;
  height: 58px;
  border-radius: 7px;
  background: #bc8afc;
  box-shadow: 10px 7px 9px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .container .navbar button {
    display: none;
  }
}
.container .navbar button a {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}
.container .navbar .mobilMenu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container .navbar .mobilMenu {
    display: block;
    width: 40px;
    height: 40px;
  }
}
.container main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .container main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
}
.container main .textBox h2 {
  margin-bottom: 32px;
  color: #fff;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 96px */
}
@media screen and (max-width: 1024px) {
  .container main .textBox h2 {
    width: 370px;
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  .container main .textBox h2 {
    width: 100%;
    font-size: 48px;
  }
}
.container main .textBox p {
  margin-bottom: 32px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 158%; /* 31.6px */
}
@media screen and (max-width: 1024px) {
  .container main .textBox p {
    width: 370px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container main .textBox p {
    width: 100%;
    font-size: 20px;
  }
}
.container main .textBox button {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 58px;
  background-color: #bc8afc;
}
.container main .textBox button a {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container main .imageBox img {
  width: 590px;
  height: 677px;
}
@media screen and (max-width: 1024px) {
  .container main .imageBox img {
    width: 500px;
    height: 500px;
  }
}
@media screen and (max-width: 1px) {
  .container main .imageBox img {
    width: 335px;
    height: 454.266px;
  }
}
@media screen and (max-width: 768px) {
  .container main .imageBox img {
    width: 336.255px;
    height: 381.415px;
  }
}